.badge {
  font-size: 0;
  display: flex;
 /*  white-space: nowrap; */
}

.badge>span {
  font-size: 0.5rem;
  vertical-align:5%;
  padding: 4px 8px 4px 8px;

}

.badge>.label {
  border : solid;
  border-color: black;
  background-color: white;
  height: 12px;
 
}

.html,
.time-container {
  background-color: yellow;
  display: flex;
  align-items: center;
  height: 15px;
}

#day,#hour,#min,#sec {
  font-size: large;
  color: blue;
  -webkit-text-stroke: 1px green;
  text-shadow: 1px green;
  font-weight: bold;
}